.emailrow {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
      
}
.emailrow_message{
    align-items: center;
    justify-content: space-between;
}

.emailrow:hover {
    border-top:1px solid whitesmoke ;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);
}

.emailrow_options{
    display: flex;
}

.emailrow_message{
    display: flex;
    flex: 0.8;
    align-items: 13px;
    font-size: 13px;
}

.emailrow_message > h4 {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}

.emailrow > h3 {
    font-size: 13px;
    flex: 0.3;
}

.emailrow_time {
    padding-right: 15px;
    font-size: 9px;
    font-weight: bold;
}

.emailrow-description {
    font-weight: 400;
    color: grey;
}