.sendmail {
    position: absolute;
    bottom: 0px;
    right: 50px;
    background-color: grey;
    width: 40%;
    height: 40%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);
}

.sendmail_header{
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

.sendmail_header > h3 {
    color: whitesmoke;
    font-size: 13px;
}

.sendmail_send {
    background-color: blue !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}

.sendmail_close {
    color: whitesmoke;
    cursor: pointer;
}

.sendmail > form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sendmail_error{
    background-color: white;
    color: red;
    padding: 2px;
    text-align: right;
}

.sendmail > form > input {
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}

.sendmail_message {
    flex: 1;

}